.gallery-container {
	width: 80%;
	height: 400px;
	overflow-x: hidden;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

#back,
#forward {
	display: inline-block;
}

.gallery-img {
	width: 80%;
	height: auto;
}

.gallery-prev {
	left: -100%;
}

.gallery-prev-curr {
	left: 0;
	transition: left 1s;
}

.gallery-next {
	left: 100%;
}

.gallery-next-curr {
	left: 0;
	transition: left 1s;
}

.gallery-curr {
	left: 0;
}

.gallery-curr-prev {
	left: 100%;
	transition: left 1s;
}

.gallery-curr-next {
	left: 100%;
	transition: left 1s;
}

